{% extends '_layout.html' %} 
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home/index.css') }}" />
{% endblock %} 

{% block content %}
    {% if recent_section_classes %}
        <div class="recent-block">
            <span class="recent-title">Truy cập gần đây</span>
            <div class="table-recent">
                {% for section_class in recent_section_classes %}
                    <div class="set-preview-card" data-testid="set-preview-card">
                        <div class="set-preview-card-metadata">
                            <div class="set-preview-card-header">
                                <a class="section-name" href="{{url_for('section_class.section_class_detail', id=section_class.id)}}"><span>{{ section_class.name }}</span></a>
                                <div class="term-block">
                                    <span class="term-number">{{ section_class.vocab_count }} thuật ngữ</span>
                                </div>
                            </div>
                            <div class="set-preview-card-footer">
                                <span class="d-inline-flex align-items-center">
                                    <img class="section-item__owner-avatar m-r-3" src="{{ section_class.picture }}" alt="" />
                                    <b class="section-item__created-by">{{ section_class.display_name }}</b>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="recent-block empty-section">
            <span class="recent-title">Chào mừng bạn QuizMaker - một trang web giúp học từ vựng tiếng Anh hiệu quả</span>
            <p>Hãy <a href="{{url_for('section_class.create_set')}}" class="link">tạo học phần</a> để nâng cao vốn từ vựng tiếng Anh của mình nào.</p>
        </div>
    {% endif %}
{% endblock %}
