<div
    class="modal fade"
    id="sharingModal"
    tabindex="-1"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-16">
                    Chia sẻ học phần
                    <img src="{{url_for('static', filename='images/loading.gif')}}" alt="" id="loading-icon">
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-between gap-10">
                <input type="text" id="search-email" class="form-control" placeholder="Nhập địa chỉ email của bạn bè"/>
                <button class="btn btn-sm btn-primary btn-submit-share">Chia sẻ</button>
            </div>
            <div class="suggestion-result">
                <div class="suggestion-users custom-scroll">
                </div>
            </div>
            <div class="suggestion-user-template dis-none">
                <img class="avatar" src="" alt="" />
                <div class="info">
                    <span class="display-name"></span>
                    <span class="email"></span>
                </div>
            </div>
            <div class="members">
                <div class="member-row-template dis-none align-items-center justify-content-between">
                    <div class="member-info d-flex align-items-center gap-10">
                        <img class="avatar" src="" alt="" />
                        <div class="info">
                            <span class="display-name"></span>
                            <span class="email"></span>
                        </div>
                    </div>
                    <span class="member-role"></span>
                </div>
                <div class="members-list"></div>
            </div>
            <div class="pending-members"></div>
        </div>
    </div>
</div>
