<div
    class="modal fade"
    id="sharingModal"
    tabindex="-1"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">
                    Chia sẻ học phần
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-between gap-10">
                <input type="text" class="form-control" placeholder="Nhập địa chỉ email của bạn bè"/>
                <button class="btn btn-sm btn-primary">Chia sẻ</button>
            </div>
            <div class="members"></div>
        </div>
    </div>
</div>
