<li class="vocab-block">
    <div class="btn-block">
        <button
            class="btn-drag"
            data-bs-custom-class="custom-tooltip blue-tooltip"
            data-bs-toggle="tooltip"
            data-bs-title="Kéo để di chuyển thẻ"
        >
            <i class="fa-solid fa-bars"></i>
        </button>
        <button
            class="btn-delete"
            data-bs-custom-class="custom-tooltip red-tooltip"
            data-bs-toggle="tooltip"
            data-bs-title="Xoá thẻ này"
        >
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
    <div class="header d-flex justify-content-between">
    </div>

    <div class="vocab-info d-flex justify-content-between" data-id="{{vocab.id if vocab else 0 }}">
        <div class="column">
            <div class="input english-text autocomplete-input-en" contenteditable="true" data-gramm="false">{{vocab.english if vocab else ''}}</div>
            <span>THUẬT NGỮ</span>
            <ul class="suggestions-list-en"></ul>
        </div>
        <div class="column">
            <div class="input vietnamese-text autocomplete-input-vi" contenteditable="true" data-gramm="false">{{vocab.vietnamese if vocab else ''}}</div>
            <span>ĐỊNH NGHĨA</span>
            <ul class="suggestions-list-vi"></ul>
        </div>
    </div>
</li>
