{% extends '_layout.html' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/section_class/detail.css')}}">
{% endblock %}

{% block script %}
    <script>
        var vocabData = JSON.parse('{{ section_class.vocabularies|tojson }}');
    </script>
    <script src="{{url_for('static', filename='js/section_class/detail.js')}}"></script>

    <!-- Hiệu ứng tung giấy hoa -->
    <script src="{{url_for('static', filename='libraries/confetti/confetti.min.js')}}"></script>
{% endblock %}

{% block content %}
    <div class="header">
        <div class="content d-flex justify-content-between align-items-center">
            <h2>{{ section_class.name }}</h2>
        </div>
    </div>
    <div class="wrapper">
        <div class="flash-card-block">
            <div id="card">
                <div class="side front">
                    <p>{{ section_class.vocabularies[0].english }}</p>
                    <button class="btn-speech" data-text="{{ section_class.vocabularies[0].english }}">
                        <i class="fa-solid fa-volume-high"></i>
                    </button>
                </div>
                <div class="side back">
                    <p>
                        {{ section_class.vocabularies[0].vietnamese }}</p>
                </div>
                <div class="overlay-message learned-message">
                    <p>Đã biết</p>
                </div>
                <div class="overlay-message learning-message">
                    <p>Đang học</p>
                </div>
                <div class="overlay-message revert-message">
                    <p>Hoàn tác</p>
                </div>
            </div>
            <div class="control-buttons d-flex align-items-center">
                <div class="left-side">
                    <button class="btn-revert">
                        <i class="fa-solid fa-reply"></i>
                    </button>
                    <button class="btn-shuffle">
                        <i class="fa-solid fa-shuffle"></i>
                    </button>
                </div>
                <div class="center-side d-flex align-items-center">
                    <button class="btn-x">
                        <i class="fa-solid fa-times"></i>
                    </button>
                    <span class="counter">1 / {{ section_class.vocabularies|length }}</span>
                    <button class="btn-checked">
                        <i class="fa-solid fa-check"></i>
                    </button>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="is-auto-audio" />
                    <label class="form-check-label" for="is-auto-audio">Tự động phát audio?</label>
                </div>
            </div>
        </div>
        {% include 'partials/_achievement.html' %}
    </div>
{% endblock  %}