<style>
    .dropdown-menu {
        width: 200px;
    }
    .dropdown-menu .dropdown-item {
        padding: 10px 20px;
        font-size: 16px;
    }
</style>
<div class="content d-flex align-items-center">
    <div class="left-content">
        <div>
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="" class="logo">
        </div>
        <div class="navigation-tabs">
            <ul class="items">
                <li class="{{'active' if active_menu == 'home' else ''}}">
                    <a href="{{url_for('home.index')}}">Trang chủ</a>
                </li>
                {% if g.user_info %}
                    <li class="{{'active' if active_menu == 'section_class' else ''}}">
                        <a href="{{url_for('section_class.index')}}">Danh sách học phần</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="middle-content">
        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass icon"></i>
            <input class="form-control" type="text" placeholder="Tìm kiếm...">
        </div>
    </div>
    <div class="right-content flex-r-m">
        <button class="btn btn-primary rounded-circle icon">
            <i class="fa-solid fa-plus"></i>
        </button>
        <button class="btn btn-notification icon">
            <i class="fa-regular fa-bell"></i>
        </button>
        <span id="user-name">{{g.user_info.display_name if g.user_info else "Guest"}}</span>
        <div class="btn-group m-l-10 m-r-10">
            <button class="btn btn-profile" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{g.user_info.picture if g.user_info.picture else url_for('static', filename='images/default_user_img.jpg')}}" alt="" class="avatar">
            </button>
            <ul class="dropdown-menu">
                {% if g.user_info %}
                    <li><a class="dropdown-item" id="profile" href="#">Thông tin cá nhân</a></li>
                    <li><a class="dropdown-item" id="logout" href="{{ url_for('auth.logout') }}">Đăng xuất</a></li>
                {% else %}
                    <li><a class="dropdown-item" id="login" href="{{ url_for('auth.login') }}">Đăng nhập</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>