<style>
    .dropdown-menu {
        width: 200px;
    }
    .dropdown-menu .dropdown-item {
        padding: 10px 20px;
        font-size: 16px;
    }

    .left-content {
        margin-left: 20px;
    }

    .left-content .web-name {
        margin-top: -12px;
    }

    .left-content .web-name a {
        color: #4255ff;
        font-weight: 700;
        font-size: 26px;
    }
</style>

<div class="content d-flex align-items-center">
    <div class="left-content">
        <div class="web-name">
            <a href="/">QuizMaker</a>
        </div>
        <div class="navigation-tabs">
            <ul class="items">
                <li class="{{'active' if active_menu == 'home' else ''}}">
                    <a href="{{url_for('home.index')}}">Trang chủ</a>
                </li>
                {% if g.user_info %}
                    <li class="{{'active' if active_menu == 'section_class' else ''}}">
                        <a href="{{url_for('section_class.index')}}">Danh sách học phần</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="middle-content">
        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass icon"></i>
            <input class="form-control" type="text" placeholder="Tìm kiếm...">
        </div>
    </div>
    <div class="right-content flex-r-m">
        <div class="btn-group">
            <button class="btn btn-primary rounded-circle icon" data-bs-toggle="dropdown" data-bs-offset="0,5" aria-expanded="false">
                <i class="fa-solid fa-plus"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <a href="{{url_for('section_class.create_set')}}">
                    <li class="dropdown-item">
                        <i class="fa-solid fa-laptop-file"></i>
                        Học phần
                    </li>
                </a>
                <a href="{{url_for('section_class.create_set')}}">
                    <li class="dropdown-item">
                        <i class="fa-solid fa-user-group"></i>
                        Lớp học
                    </li>
                </a>
            </ul>
        </div>
        <div class="btn-group m-l-10 m-r-10 notification-group">
            <button class="btn btn-notification icon" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-regular fa-bell"></i>
                <div class="notification-blink dis-none"></div>
            </button>
            <ul class="dropdown-menu dropdown-menu-end custom-scroll">
            </ul>
            <div class="dropdown-item-template dis-none">
                <a class="notification-item d-flex align-items-center gap-10">
                    <img class="avatar" src="" alt="" />
                    <div class="info d-flex flex-column">
                        <b class="sender-name"></b>
                        <div class="detail">
                            <span class="message"></span>
                            <b class="section-class-name"></b>
                        </div>
                    </div>
                    <span class="created-at"></span>
                </a>
            </div>
            <input type="hidden" id="section-class-detail-url" value="{{url_for('section_class.section_class_detail', id=0)}}">
        </div>
        <span id="user-name">{{g.user_info.display_name if g.user_info else "Guest"}}</span>
        <div class="btn-group m-l-10 m-r-10">
            <button class="btn btn-profile" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{g.user_info.picture if g.user_info.picture else url_for('static', filename='images/default_user_img.jpg')}}" alt="" class="avatar">
            </button>
            <ul class="dropdown-menu">
                {% if g.user_info %}
                    <input type="hidden" id="user-id" value="{{g.user_info['id']}}">
                    <li><a class="dropdown-item" id="profile" href="#">Thông tin cá nhân</a></li>
                    <li><a class="dropdown-item" id="logout" href="{{ url_for('auth.logout') }}">Đăng xuất</a></li>
                {% else %}
                    <li><a class="dropdown-item" id="login" href="{{ url_for('auth.login') }}">Đăng nhập</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>