<div class="content d-flex align-items-center">
    <div class="left-content">
        <div>
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="" class="logo">
        </div>
        <div class="navigation-tabs">
            <ul class="items">
                <li class="{{'active' if active_menu == 'home' else ''}}">
                    <a href="{{url_for('home.index')}}">Trang chủ</a>
                </li>
                <li class="{{'active' if active_menu == 'section_class' else ''}}">
                    <a href="{{url_for('section_class.index')}}">Danh sách học phần</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="middle-content">
        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass icon"></i>
            <input class="form-control" type="text" placeholder="Tìm kiếm...">
        </div>
    </div>
    <div class="right-content">
        <button class="btn btn-primary rounded-circle icon">
            <i class="fa-solid fa-plus"></i>
        </button>
        <button class="btn btn-notification icon">
            <i class="fa-regular fa-bell"></i>
        </button>
        <button class="btn-profile">
            <img src="{{url_for('static', filename='images/default_user_img.jpg')}}" alt="" class="avatar">
        </button>
    </div>
</div>